{{!-- CURRENT PAGE: ("/edit") --}}

{{!-------- TODO - PART 5: ABOUT PAGE ("/about"). --}}
<div class="d-flex h-100 text-center text-white -bg-dark">

    <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column" id="picture">

        {{!----------- TODO - a. Top menu for HOME, and ABOUT(current) --}}
        <header class="mb-auto">
            <div>
                <h3 class="float-md-start mb-0">Burger Menu</h3>
                <nav class="nav nav-masthead justify-content-center float-md-end">
                    <a class="nav-link active" aria-current="page" href="/">Home</a>
                    <a class="nav-link" href="/menu">Menu</a>
                    <a class="nav-link" href="/about">About</a>
                </nav>
            </div>
        </header>
        {{!----------- TODO - b. Middle has Image of me, Social links, and small BIO--}}


    </div>
</div>