{{!-- CURRENT PAGE: ("/create") --}}

{{!-------- TODO - PART 2: CREATE PAGE ("/create"). --}}
<div class="d-flex h-100 text-center text-white -bg-dark">

    <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column" id="picture">

        {{!----------- TODO - a. Top menu for Home, About --}}
        <header class="mb-auto">
            <div>
                <h3 class="float-md-start mb-0">Burger Menu</h3>
                <nav class="nav nav-masthead justify-content-center float-md-end">
                    <a class="nav-link active" aria-current="page" href="/">Home</a>
                    <a class="nav-link" href="/menu">Menu</a>
                    <a class="nav-link" href="layouts/about.handlebars">About</a>
                </nav>
            </div>
        </header>
        {{!----------- TODO - b. Card with 3 entries, Title(burger_name), Description(burger_description), and
        Price(price) --}}
        {{!----------- TODO = c. On hitting create, will be redirected to the EDIT PAGE ("/edit") --}}

    </div>
</div>