{{!-- CURRENT PAGE: ("/create") --}}

{{!-------- TODO - PART 2: CREATE PAGE ("/create"). --}}
<div class="d-flex h-100 text-center text-white -bg-dark">

    <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column" id="picture">

        {{!----------- TODO - a. Top menu for Home, About --}}
        <header class="mb-auto">
            <div>
                <h3 class="float-md-start mb-0">Burger Menu</h3>
                <nav class="nav nav-masthead justify-content-center float-md-end">
                    <a class="nav-link active" aria-current="page" href="/">Home</a>
                    <a class="nav-link" href="/menu">Menu</a>
                    <a class="nav-link" href="layouts/about.handlebars">About</a>
                </nav>
            </div>
        </header>
        {{!----------- TODO - b. Card with 3 entries, Title(burger_name), Description(burger_description), and
        Price(price) --}}
        {{!----------- TODO = c. On hitting create, will be redirected to the EDIT PAGE ("/edit") --}}
        <div class="col-md-8 order-md-1">
            <h4 class="mb-3">Create a Burger</h4>
            <form class="burger-create">
                <div class="row">
                    <div class="col-md-6 mb-3">
                        <label for="burger">Burger Name</label>
                        <input type="text" id="burger" name="burger">
                    </div>
                    <div class="col-md-6 mb-3">
                        <label for="price">Price</label>
                        <input type="text" id="price" name="price">
                    </div>
                    <div class="col-md-6 mb-3">
                        <tr>
                            <th><input type="checkbox" id="selectall" /></th>
                            <th>Topping</th>
                            <th>price</th>
                        </tr>
                        {{#each toppings}}
                        <br>
                        <tr>
                            <th align="center"><input type="checkbox" class="case" name="case" value="{{id}}" /></th>
                            <th>{{toppingName}}</th>
                            <th>"price: "{{toppingPrice}}</th>
                        </tr>

                        {{!-- {{>burgers/topping_card}} --}}
                        {{/each}}
                    </div>
                    {{!-- dropdown multi selection choose as many as you want toppings --}}
                </div>
                <div class="row">
                    <div class="mb-3">
                        <label for="description">Description</label>
                        <input type="text" id="description" name="description">
                    </div>
                </div>
                <button class="btn btn-primary btn-lg btn-block" type="submit">Submit Burger</button>
            </form>
        </div>

    </div>
</div>