{{!-- CURRENT PAGE: ("/edit") --}}

{{!-------- TODO - PART 3: EDIT PAGE ("/edit") --}}
<div class="d-flex h-100 text-center text-white -bg-dark">

    <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column" id="picture">

        {{!----------- TODO - a. Top menu for Home, About --}}
        <header class="mb-auto">
            <div>
                <h3 class="float-md-start mb-0">Burger Menu</h3>
                <nav class="nav nav-masthead justify-content-center float-md-end">
                    <a class="nav-link active" aria-current="page" href="index.handlebars">Home</a>
                    <a class="nav-link" href="layouts/menuCreator.handlebars">Create</a>
                    <a class="nav-link" href="layouts/about.hanlebars">About</a>
                </nav>
            </div>
        </header>
        {{!----------- TODO - b. Card(s), based off of all non-menu prebuilt burgers. --}}
        {{!-------------- TODO - i. Each card has an image, title, description, price --}}
        {{!-------------- TODO - ii. Each card has two buttons on the bottom, 1. Add to Menu, and 2. Delete Burger --}}

        </form>
    </div>
</div>