<div class="text-center" cz-shortcut-listen-"true">
    <div class="cover-container d-flex h-100 p-3 mx-auto flex-column">
        <header class="masthead mb-auto">
            <div class="inner">
                <h3 class="masthead-brand">Zac Edens</h3>
                <nav class="nav nav-masthead justify-content-center">
                    <a class="nav-link active" href="#">Home</a>
                    <a class="nav-link" href="#">Menu</a>
                    <a class="nav-link" href="#">About</a>
                </nav>
            </div>
        </header>
        <main role="main" class="inner cover">
            <h1 class="cover-heading">Burger Creator</h1>
            <p class="lead">"Burger Creator is an app that let's users create and manage burgers, from ingredients, and
                stock, to what is on the live menu. Create your own or take a look at a few of our own!"</p>
            <p class="lead">
                <a href="./" class="burger-creator btn btn-lg btn-secondary">Create your own burger</a>
                <a href="./burger-editor.handlebars" class="burger-editor btn btn-lg btn-secondary">Start with a
                    premade</a>
            </p>
        </main>
        <footer class="mastfoot mt-auto">
            <div class="inner">
                <p>
                    <a href="www.github.com/themancalledzac">Github</a>
                </p>
            </div>
        </footer>
    </div>
</div>>