{{!-- CURRENT PAGE: ("/") --}}
<div class="text-center" cz-shortcut-listen-"true">
    <div class="cover-container d-flex h-100 p-3 mx-auto flex-column">
        <header class="masthead mb-auto">
            <div class="inner">
                <h3 class="masthead-brand">Zac Edens</h3>
                <nav class="nav nav-masthead justify-content-center">
                    {{!-- ("/home") Get request needed for this class, not an A tag--}}
                    <a class="nav-link active" href="/">Home</a>
                    {{!-- ("/about") Get request needed for this class, not an A tag--}}
                    <a class="nav-link" href="/about">About</a>
                </nav>
            </div>
        </header>
        <main role="main" class="inner cover">
            <h1 class="cover-heading">Burger Creator</h1>
            <p class="lead">"Burger Creator is an app that let's users create and manage burgers, from ingredients, and
                stock, to what is on the live menu. Create your own or take a look at a few of our own!"</p>
            <p class="lead">
                {{!-- ("/create") Get request needed for this class, not an A tag--}}
                <a href="/create" class="burger-creator btn btn-lg btn-secondary">Create</a>
                {{!-- ("/edit") Get request needed for this class, not an A tag--}}
                <a href="/edit" class="burger-editor btn btn-lg btn-secondary">Edit</a>
                {{!-- ("/menu") Get request needed for this class, not an A tag--}}
                <a href="/menu" class="burger-menu btn btn-lg btn-secondary">Menu</a>
            </p>
        </main>
        <footer class="mastfoot mt-auto">
            <div class="inner">
                <p>
                    <a href="www.github.com/themancalledzac">Github</a>
                </p>
            </div>
        </footer>
    </div>
</div>



{{!-- TODO - Create button to create burgers, or do we have a link to the other page? --}}
{{!----- TODO - STRUCTURE LAYOUT, future --}}

{{!-------- TODO - PART 1: SPLASH PAGE ("/"). --}}
{{!----------- TODO - a. Top menu for HOME(current), and ABOUT --}}
{{!----------- TODO - b. Middle has 1 card with three options. Create, Edit, Menu--}}

{{!-------- TODO - PART 2: CREATE PAGE ("/create"). --}}
{{!----------- TODO - a. Top menu for Home, About --}}
{{!----------- TODO - b. Card with 3 entries, Title(burger_name), Description(burger_description), and Price(price) --}}
{{!----------- TODO = c. On hitting create, will be redirected to the EDIT PAGE ("/edit") --}}

{{!-------- TODO - PART 3: EDIT PAGE ("/edit") --}}
{{!----------- TODO - a. Top menu for Home, About --}}
{{!----------- TODO - b. Card(s), based off of all non-menu prebuilt burgers. --}}
{{!-------------- TODO - i. Each card has an image, title, description, price --}}
{{!-------------- TODO - ii. Each card has two buttons on the bottom, 1. Add to Menu, and 2. Delete Burger --}}

{{!-------- TODO - PART 4: MENU PAGE ("/menu") --}}
{{!----------- TODO - a. Top menu for Home, About --}}
{{!----------- TODO - b. Card(s), based off each current-menu burgers --}}
{{!-------------- TODO - i. Each card has image, title, description, price --}}
{{!-------------- TODO - ii. Each card has one button on bottom, 1. Remove From Menu --}}

{{!-------- TODO - PART 5: ABOUT PAGE ("/about"). --}}
{{!----------- TODO - a. Top menu for HOME, and ABOUT(current) --}}
{{!----------- TODO - b. Middle has Image of me, Social links, and small BIO--}}