<h1>Burgers</h1>

<h2> not currently on the menu</h2>
<ul>
    {{#each burgers}}
    <li>{{burger_name}}</li>
    <li>{{burger_description}}</li>
    <li>{{burger_price}}</li>
    {{/each}}
</ul>

<h2> currently on the menu</h2>

<ul>
    {{!-- {{#each burgers}}
    {{#if current_menu}}
    {{> burgers/burger-block current_menu=true}}
    {{/if}}
    {{/each}} --}}
</ul>