<li>
    {{#each burgers.burger_name}}
    {{/each}}
    {{!--
    <button class="add_to_menu" data-id="{{burger_id}}" data-newsleep="{{sleep}}">
        {{#if sleep}}SLEEP TIME!{{else}}WAKE UP!{{/if}}
    </button> --}}
</li>