<tr>
    <th align="center"><input type="checkbox" class="case" name="case" value="{{Toppings.id}}" /></th>
    <h1>{{toppings.Toppings.toppingName}}</h1>
    <th>{{toppings}}</th>
    <th>{{Toppings.toppingPrice}}</th>
</tr>